.navbar .navLogo {
    height: 21px;
}

.uploadImageContainer {
    padding: 10px 0;
}
    .uploadImageContainer > div {
        width: 100px;
        height: 120px;
        display: inline-block;
        margin-right: 10px;
    }

        .uploadImageContainer > div > img {
            width: 100px;
            height: 100px;
        }

        .uploadImageContainer > div > a {
            float: right;
            margin-top: 5px;
            height: 15px;
            cursor: pointer;
            font-size: 12px;
        }

.productAttrDel {
    font-size: 20px;
    color: red;
    cursor: pointer;
}

.roleListDiv > fieldset {
    margin-top: 10px;
}

    .roleListDiv > fieldset > legend {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .roleListDiv > fieldset > label {
        font-weight: normal;
    }

.cs_logo {
    margin: 5px 0 10px;
    display: block;
    width: 191px;
    height: 21px;
}

.cs_icon {
    margin: 5px 0 10px;
    display: block;
    width: 96px;
    height: 96px;
}

.mySetForm {
    padding: 0 20px;
}